.explosion {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 60px;
}

.parte {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: #ffc400d0; 
  border-radius: 30%;/* Cambia los colores según lo desees */
  opacity: 0; /* Empieza invisible */
}

@keyframes explosion {
  0% {
    transform: scale(0.5) translateX(-20px);
    opacity: 1;
  }
  50%{
    opacity: 0.8;
    background-color: #ff7b00b0;
  }
  75% {
    background-color: #c20000a9;
    opacity: 0.5;
  }
  100%{
    background-color: #53000081;
    transform: scale(4) translateY(-50px) translateZ(50px) translateX(0px) rotate(45deg);
    opacity: 0;
  }
}

.parte {
  animation: explosion 1s ease-out forwards ;
}

/* Ejemplo para variar la animación entre las partes */
.parte:nth-child(1) {
  animation-delay: 0.1s;
}
.parte:nth-child(2) {
  animation-delay: 0.12s;
  transform-origin: top left;
}
.parte:nth-child(3) {
  animation-delay: 0.14s;
}
.parte:nth-child(4) {
  animation-delay: 0.2s;
}
.parte:nth-child(5) {
  animation-delay: 0.25s;
}
.parte:nth-child(6) {
  animation-delay: 0.27s;
}
.parte:nth-child(7) {
  animation-delay: 0.28s;
}
.parte:nth-child(8) {
  animation-delay: 0.29s;
}
.parte:nth-child(9) {
  animation-delay: 0.31s;
}
.parte:nth-child(10) {
  animation-delay: 0.32s;
}
.parte:nth-child(11) {
  animation-delay: 0.35s;
}
.parte:nth-child(12) {
  animation-delay: 0.4s;
}
.parte:nth-child(13) {
  animation-delay: 0.5s;
  
  transform-origin: top left;
}
/* Añade variaciones según lo desees */

.ember {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 123, 0, 0.5);
  animation: moveFromCenter 0.5s forwards, glow 5s linear infinite, float 5s linear infinite;
  --x-offset: 0px; /* Ejemplo de desplazamiento en X */
  --y-offset: 20px; /* Ejemplo de desplazamiento en Y */
}

@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  50% {
    transform: translateY(30px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 0.7;
  }
}

@keyframes moveFromCenter {
  0% {
    transform: scale(0) translateX(0px) translateY(0px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(var(--x-offset)) translateY(var(--y-offset));
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background-color: rgba(202, 98, 0, 0.5);
  }
  50% {
    background-color: rgba(133, 0, 0, 0.5);
  }
  75% {
    background-color: rgba(12, 12, 12, 0.8);
  }
  100% {
    background-color: rgba(118, 66, 17, 0.5);
  }
}

/* Posiciona cada brasa individualmente */
#ember1 {
  right: 40px;
  bottom: -10px;
}
#ember2 {
  right: 50px;
  bottom: -15px;
}
#ember3 {
  right: 80px;
  bottom: -30px;
}
#ember4 {
  right: 20px;
  bottom: -20px;
}
#ember5 {
  right: 50px;
  bottom: -30px;
}
#ember6 {
  left: 20px;
  bottom: -5px;
}
#ember7 {
  right: 20px;
  bottom: -4px;
}
#ember8 {
  left: 15px;
  bottom: -26px;
}
#ember9 {
  left: 0px;
  bottom: -36px;
}
/* Añade más estilos de posición según sea necesario */
