.tablero {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 10 columnas */
}


.centrarHijos {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically if there's enough space */
  width: 100vw; /* Ensure it takes at least the full height of the viewport */
}


/*Nota para mi: 

Con forme se achica el ancho de la pantalla, modificar el width de 4vw en las casillas a algo mayor, 
para poder evitar que se separen*/

.casilla {
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  box-sizing: border-box;
  border: 1px solid rgb(90, 240, 80);
}
.casilla:hover{
  border: 1px dashed #fff
}

.casillaRevelada{
  background: rgb(229, 194, 159);
  border: 1px solid rgb(229, 194, 159);
  color: black
}

/* Estilos para las casillas no reveladas con colores alternados */
.colorClaro {
  background: rgb(90, 240, 80); /* Color más claro */
}

.colorOscuro {
  background: rgb(80, 230, 70); /* Color más oscuro */
}

/* Estilos para las casillas reveladas con colores alternados */
.colorClaroRevelada {
  background: rgb(229, 194, 159); /* Color actual para reveladas */
}

.colorOscuroRevelada {
  background: rgb(219, 184, 149); /* Color más oscuro para reveladas */
}

.btnReiniciarJuegos{
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 50%;
  font-size: 5vh;
  transition: 0.3s;
}

.btnReiniciarJuegos:hover{
  font-size: 8vh;
}