.tablero {
  display: grid;
}

.tablerFacil{
  grid-template-columns: repeat(8, 1fr);
}

.tableroMedio{
  grid-template-columns: repeat(16, 1fr);
}

.tableroDificil{
  grid-template-columns: repeat(22, 1fr);
}

.centrarHijos {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically if there's enough space */
  width: 100vw; /* Ensure it takes at least the full height of the viewport */
  user-select: none;
}

.casillaGrande{
  font-size: 3.5vh;
  width: 5vh;
  height: 5vh;
}

.casillaMediana{
  font-size: 3vh;
  width: 4vh;
  height: 4vh;
}

.casillaChica{
  font-size: 2.5vh;
  width: 3vh;
  height: 3vh;
}

.casilla {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgb(90, 240, 80);
  user-select: none; /* Impedir el seleccionamiento del texto en las casillas*/
}
.casilla:hover{
  border: 1px dashed #fff
}

.casillaRevelada{
  background: rgb(229, 194, 159);
  border: 1px solid rgb(229, 194, 159);
  color: black
}

/* Estilos para las casillas no reveladas con colores alternados */
.colorClaro {
  background: rgb(90, 240, 80); /* Color más claro */
}

.colorOscuro {
  background: rgb(80, 230, 70); /* Color más oscuro */
}

/* Estilos para las casillas reveladas con colores alternados */
.colorClaroRevelada {
  background: rgb(229, 194, 159); /* Color actual para reveladas */
}

.colorOscuroRevelada {
  background: rgb(219, 184, 149); /* Color más oscuro para reveladas */
}

.btnReiniciarJuegos{
  padding: 0;
  padding-top: 3vh;
  margin: 0;
  background: none;
  border-radius: 50%;
  font-size: 5vh;
  transition: 0.3s ease;
}

.btnReiniciarJuegos:hover{
  transform: scale(1.5);
}