
.flower {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .petal {
    width: 1rem;
    height: 2rem;
    position: absolute;
    top: -15%;
    left: 25%;
  }

  .petalo-redondo{
    border-radius: 50%;
  }

  .petalo-ovalo10{
    clip-path: ellipse(30% 50% at 50% 50%);
  }

  .petalo-rosa{
    background: pink;
  }

  .petalo-azul{
    background: blue;
  }
  .petalo-violeta{
    background: blueviolet;
  }
  .petalo-rojo{
    background: red;
  }
  .petalo-tinto{
    background: #b90009;
  }
  
  .petal:nth-child(1) {
    transform: rotate(0deg);
  }
  .petal:nth-child(2) {
    transform: rotate(72deg);
  }
  .petal:nth-child(3) {
    transform: rotate(144deg);
  }
  .petal:nth-child(4) {
    transform: rotate(216deg);
  }
  .petal:nth-child(5) {
    transform: rotate(288deg);
  }
  
  .center {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 146);
    position: absolute;
    top: 25%;
    left: 25%;
  }
  