.submenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    background: #2b2b2b;
    transition: all 0.3s ease;
}

.submenu:hover{
    box-shadow: 0px 0px 2px 2px #2f3463b2;
}

.submenu .enlaceSubmenu{
    text-align: center;
    color: #f3f3f2;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1rem;
}

.submenu .enlaceSubmenu:hover{
    transform: scale(1.4);
    font-weight: 700;
    text-shadow: 0px 1px 2px #5564e6;
}

.contenedorEnlace{
    display: grid;
    justify-content: center;
}


@media (max-width: 968px) {
    .submenu .enlaceSubmenu{
        font-size: 0.9rem;
    }
    .submenu .enlaceSubmenu:hover{
        transform: scale(1.2);
    }
}